@model List<Blog>



<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/Assets/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a asp-controller="Blog" asp-action="Detail" asp-route-Id="@blog.Id"><img src="~/Assets/img/blog/@blog.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <a asp-controller="Blog" asp-action="Detail" asp-route-Id="@blog.Id"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>@blog.Author  /  @blog.Date  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-controller="Blog" asp-action="Detail" asp-route-Id="@blog.Id">@blog.Name</a></h2>
                                <a asp-controller="Blog" asp-action="Detail" asp-route-Id="@blog.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
